tests/wadls/cupi/xsd/LocalLocation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">		
	<xs:complexType name="LocalLocation">
		<xs:sequence>
			<xs:element name="DefaultLanguage" type="xs:int" minOccurs="0" />
			<xs:element name="DefaultTTSLanguage" type="xs:int" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="LocalLocation" type="LocalLocation"/>
</xs:schema>
