tests/wadls/cupi/xsd/MessageInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">                
            <xs:complexType name="MessageInfo">
        <xs:sequence>
                <xs:element name="PageNumber" type="xs:string" minOccurs="0"/>
                <xs:element name="MessageLocation" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
<xs:element name="MessageInfo" type="MessageInfo"/>
</xs:schema>
