tests/wadls/cupi/xsd/ResponseDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">	
	<xs:complexType name="ResponseDetails">
		<xs:sequence>
			<xs:element name="responseProperty" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name" type="xs:string"/>
						<xs:element name="value" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ResponseDetails" type="ResponseDetails"/>
</xs:schema>

<!--
RestError
	error 
		code="VMWS_SEND_FAILED"
		message
	error
		code="DataError"
		message="bad alias"
-->