tests/wadls/cupi/xsd/VideoEnabled.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
        <xs:complexType name="VideoEnabled">
                <xs:sequence>
                    <xs:element name="Value" type="xs:string" minOccurs="0"/>
                    <xs:element name="Error" type="xs:string" minOccurs="0"/>
                </xs:sequence>
        </xs:complexType>
        <xs:element name="VideoEnabled" type="VideoEnabled"/>

</xs:schema>

